@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 100;
  src: url("./NotoSansKR-Light.woff2") format('woff2'),
  url("./NotoSansKR-Light.woff") format('woff'),
  url("./NotoSansKR-Light.otf") format('truetype')
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: normal;
  src: url("./NotoSansKR-Regular.woff2") format('woff2'),
  url("./NotoSansKR-Regular.woff") format('woff'),
  url("./NotoSansKR-Regular.otf") format('truetype')
}


@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 500;
  src: url("./NotoSansKR-Medium.woff2") format('woff2'),
  url("./NotoSansKR-Medium.woff") format('woff'),
  url("./NotoSansKR-Medium.otf") format('truetype')
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: bold;
  src: url("./NotoSansKR-Bold.woff2") format('woff2'),
  url("./NotoSansKR-Bold.woff") format('woff'),
  url("./NotoSansKR-Bold.otf") format('truetype')
}
