.chat-room-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 16px;
    width: 30%;
}

.room-name {
    margin-top: 0;
    color:#EF6264;
}

.messages-container {
    flex: 1;
    min-height: 100px;
    overflow: auto;
    border-radius: 7px 7px 0 0;
    border-color: #F7FFF7;
}

.messages-list {
    list-style-type: none;
    padding: 0;
    background-color: #F7FFF7;
}

.new-message-input-field {
    height: 100px;
    max-height: 50%;
    font-size: 20px;
    padding: 8px 12px;
    resize: none;
    background-color: #F7FFF7;
}

.message-item {
    width: 55%;
    margin: 8px;
    padding: 12px 8px;
    word-break: break-word;
    border-radius: 4px;
}

.my-message {
    background-color:#EFD869;
    margin-left: auto;
    color: #292F36;
}

.received-message {
    background-color: #292F36;
    margin-right: auto;
    color: #F7FFF7;
}

.send-message-button {
    font-size: 28px;
    font-weight: 600;
    color: #f7fff7;
    background: #EF6264;
    padding: 24px 12px;
    border: none;
}

.messages-container, .new-message-input-field, .send-message-button {
    border-color: transparent;
}